/Brazilian E-Commerce Public Dataset by Olist
/docker-stacks-master
/docker-stacks-master.zip
/eCommerce behavior data from multi category store
/FIFA 20 Complete Player Dataset
/Goodreads Books
/Hours.xls
/Just some notes.xlsx
/project1.db
/Statistik E-Commerce 2019.pdf
/unknown-0.0-py38_0.tar.bz2
/~$Just some notes.xlsx